@model ImageViewerASP.Models.ChapterDirectory

@{ 
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Contents/horizontal-scrolling.css" />

<div class="container flex">
    @foreach (var item in Model.RequestImages)
    {
        <img src="@item" />
    }
</div>

