@model ImageViewerASP.Models.ChapterDirectory

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Contents/horizontal-scrolling.css" />

@if (!String.IsNullOrEmpty(Model.PreviousChapterRequestId))
{
    <a href="/Home/Manga/@Model.PreviousChapterRequestId" class="button prev">Previous</a>
}
@if (!String.IsNullOrEmpty(Model.NextChapterRequestId))
{
    <a href="/Home/Manga/@Model.NextChapterRequestId" class="button next">Next</a>
}

<div class="container flex">
    @foreach (var item in Model.RequestImages)
    {
        <img src="@item" />
    }
</div>

