@model ImageViewerASP.Models.ChapterDirectory

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Contents/horizontal-scrolling.css" />

@if (Model.PreviousChapter != null)
{
    <a href="/Home/Manga/@Model.PreviousChapter.RequestId" class="button prev">
        &gt;<br>
        <img class="preview" src="@Model.PreviousChapter.PreviewImage" />
    </a>
}
@if (Model.NextChapter != null)
{
    <a href="/Home/Manga/@Model.NextChapter.RequestId" class="button next">
        &lt;<br>
        <img class="preview" src="@Model.NextChapter.PreviewImage" />
    </a>
}

<div id="manga-container" class="container flex">
    @foreach (var item in Model.RequestImages)
    {
        <img class="lazy chapter-image" src="~/Contents/img-placeholder-dark-vertical.jpg" data-src="@item" />
    }
</div>

<script src="~/Scripts/verticaltohorizontalscroll.js"></script>