@model ImageViewerASP.Models.ChapterDirectory
@{
    Layout = "_Layout";
}

<link href="~/Contents/reader-horizontal.css" rel="stylesheet" />

<div id="app"></div>

<script src="~/Scripts/dist/reader.js"></script>