@model ImageViewerASP.Models.ChapterDirectory
@{
    ViewData["Title"] = "Chapter";
}

<link rel="stylesheet" href="~/Contents/horizontal-scrolling.css" />

<div class="container flex">
    @foreach (var item in Model.RequestImages)
    {
        <img src="@item" />
    }
</div>

