@model ImageViewerASP.Models.ChapterDirectory

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Contents/horizontal-scrolling.css" />

@if(Model.PreviousChapter != null)
{
    <a href="/Home/Manga/@Model.PreviousChapter.RequestId" class="button prev">&gt;</a>
}
@if (Model.NextChapter != null)
{
    <a href="/Home/Manga/@Model.NextChapter.RequestId" class="button next">&lt;</a>
}

<div class="container flex">
    @foreach (var item in Model.RequestImages)
    {
        <img class="lazy" src="" data-src="@item"/>
    }
</div>

