@model IEnumerable<ImageViewerASP.Models.MangaDirectory>
@{
    ViewData["Title"] = "Folder";
}


<div class="container flex flex-wrap">
    @foreach (var item in Model)
    {
        <a href="" class="card">
            <img src="@item.PreviewImage" alt="">
            <p class="title">@item.Name</p>
        </a>
    }
</div>