@model IEnumerable<ImageViewerASP.Models.Card>
@{
    Layout = "_Layout";
}

<link href="~/Contents/image-box.css" rel="stylesheet" />

<div id="app"></div>

<script src="~/Scripts/dist/index.js"></script>