<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Contents/DarkTheme.css" />
    <script src="~/Scripts/image-lazy-loading.js"></script>
    <!--
    <script src="~/Scripts/dist/react.development.js"></script>
    <script src="~/Scripts/dist/react-dom.development.js"></script>
    -->
    <script src="~/Scripts/dist/react.development.js"></script>
    <script src="~/Scripts/dist/react-dom.development.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
